Language:        Cpp
BasedOnStyle:    LLVM
Standard:        c++98
IndentWidth:     4
TabWidth:        4
UseTab:          Never

# Braces on new lines (Allman style)
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline

# Spacing
ColumnLimit:     80
AccessModifierOffset: -4
IndentCaseLabels: true
SpaceAfterCStyleCast: false
PointerAlignment: Left

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SortIncludes:    true

